@import url("components/container.css");

@import url("components/btn-blue.css");

@import url("components/banner.css");

@import url("components/card.css");

p{

 font-family:'Dancing Script', sans-serif;;

 font-weight: 18px;

 text-align: justify;

}

 
h1,h2,h3{

 font-family: 'Dancing Script', sans-serif;

 font-weight: bold;

 text-align: center;

}

h2{

 font-size: 30px

 }

 
ul{

 list-style: none;

 text-align: center;

 color: lightpink;

}

.list i:hover{

 color: lightpink;

}

